# fpm-generated build tree
build

# install.sh-generated fpm manifest 
fpm.toml

# ford-generated documentation
doc/html

# executable programs
a.out
*.exe

# compiler-generated intermediate files
*.mod
*.smod
*.o
