# fpm-generated build tree
build

# install.sh-generated fpm files
fpm.toml
run-fpm.sh

# ford-generated documentation
doc/html

# executable programs
a.out
*.exe

# compiler-generated intermediate files
*.mod
*.smod
*.o
