name = "caffeine"
version = "0.4.1"
license = "BSD"
author = ["Damian Rouson", "Brad Richardson", "Katherine Rasmussen", "Dan Bonachea"]
maintainer = "rouson@lbl.gov"
copyright = "2021-2024 UC Regents"

[dev-dependencies]
julienne = {git = "https://github.com/berkeleylab/julienne.git", tag = "1.5.3"}

[build]
